{% extends 'site/base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<style>
    .car-object {
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .car-img {
        position: relative;
        display: inline-flex;
    }

    .car-img__img {
        border-radius: 10px;
    }

    .car-img__img--large {
        width: 200px;
        height: auto;
    }

    .car-metadata--horizontal {
        margin-left: 22px;
    }

    .dropdown.bootstrap-select.dropup {
        width: 100% !important;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100% !important;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder,
    .btn.dropdown-toggle.btn-light {
        background-color: #fff;
        border-color: #d1d3e2;
    }

    .btn.dropdown-toggle.disabled.btn-light {
        background-color: #d1d3e2;
        border-color: #d1d3e2;
    }

    .dropdown-toggle:focus,
    .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: 0px transparent !important;
    }

    .bootstrap-select .dropdown-toggle:focus,
    .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: none !important;
    }
</style>
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/bg_3.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('user_main.index')}}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Reservasi <i
                            class="ion-ios-arrow-forward"></i></span>
                </p>
                <h1 class="mb-3 bread">Reservasi Mobil</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-4">
                <h3>Detail Kendaraan</h3>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex-column">
                            <p><span>Mobil:</span> {{car.brand}} {{car.model}} ({{car.type}})</p>
                            <p class="mt-2"><span>Transmisi:</span> {{car.transmission.name}}</p>
                            <p class="mt-2"><span>Maksimal penumpang:</span> {{car.seats}}</p>
                            <p class="mt-2"><span>Bahan bakar:</span> {{car.fuel.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 block-9 mb-md-5">
                <h3>Formulir Reservasi</h3>
                <form action="{{ url_for('user.reservation', id=car.id) }}" class="bg-light p-5 contact-form"
                    method="POST">
                    <input type="hidden" name="car_id" value="{{car.id}}">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <label for="">Lokasi Pengambilan</label>
                        <select required name="pickup_garage_id" id="pickup_garage_id"
                            class="form-control selectpicker">
                            {% for s in stock %}
                            <option value="{{s.garage_id}}">{{s.garage.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="margin-bottom: 0px;">
                        <label for="">Lokasi Pengembalian</label>
                        <select required name="dropoff_garage_id" id="dropoff_garage_id "
                            class="form-control selectpicker">
                            {% for s in stock %}
                            <option value="{{s.garage_id}}">{{s.garage.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Tanggal Pengambilan</label>
                        <input required type="date" name="pickup_date" id="pickup_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Waktu Pengambilan</label>
                        <input required type="time" name="pickup_time" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Tanggal Pengembalian</label>
                        <input required type="date" name="dropoff_date" id="dropoff_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Catatan</label>
                        <input type="text" name="note" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reservasi" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-id_ID.min.js"></script>

<script>

    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth() + 1; //January is 0!
    let yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("pickup_date").setAttribute("min", today);
    document.getElementById("dropoff_date").setAttribute("min", today);

    $('#pickup_date').on('change', () => {
        $('#dropoff_date').val('');
        $('#dropoff_date').attr("min", $('#pickup_date').val());
    })

    setInterval(function () {

        if ($('select[name=car_id]').val() == '' || $('select[name=garage_id]').val() == '' || $('input[name=price_per_day]').val() == '' || $('input[name=quantity]').val() == '') {
            $('input[name=submit]').prop("disabled", true);
        }
        else {
            $('input[name=submit]').prop("disabled", false);
        }

    }, 500);

</script>

{% endblock %}