{% extends 'list.html' %}

{% block title %}Daftar Pembayaran{% endblock %}

{% block list %}
<div class="h3 mb-2 text-gray-800">
    Daftar Pembayaran
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="alert alert-{{category}} mb-2">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endwith %}


<table class="table" id="dataTable">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Atas Transaksi</th>
            <th scope="col">Tipe Transaksi</th>
            <th scope="col">Status</th>
            <th scope="col">Jumlah</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <th scope="row" class="col-md-1">{{ d.id }}</th>
            <td>{{ d.transaction_id }}</td>
            <td>{{ d.transaction_type.value }}</td>
            <td>{{ d.status.value }}</td>
            <td>{{ d.amount }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}