<!DOCTYPE html>
<html lang="en">
<head>
<title>Flask Python</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

{{menu|safe}}

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">SELAMAT DATANG</h1>
  <p class="w3-xlarge">Di Kelas Praktek Pemrograman Web dengan Framework Flask Python</p>
  <form action="/" method="get">
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" formaction="/lingkaran">Lingkaran</button>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" formaction="/loginWTF">Sign Up</button>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" formaction="/login">Login</button>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" formaction="/input">Input Data</button>
  </form>
</header>

{{footer|safe}}

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
