{% extends 'base.html' %}

{% block content %}

<div class="container header">
    <div class="row">
        <div class="col-lg-8 px-md-0 my-auto position-relative">
            <div class="headline">
                About
            </div>
            <div class="sub-headline mb-4">
                Berikut adalah panduan menu yang tersedia
            </div>
            <div class="card mt-4" style="background-color: #313e60 !important; color: white; padding: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Beranda</h5>
                    <p class="card-text">Halaman utama yang menyediakan akses form untuk melakukan cek bilangan
                        ganjil dan genap dengan menggunakan dua masukkan berupa angka.
                    </p>
                </div>
            </div>
            <div class="card mt-4" style="background-color: #313e60 !important; color: white; padding: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Menu 1</h5>
                    <p class="card-text">Halaman untuk melakukan cek bilangan
                        ganjil dan genap dengan menggunakan dua angka yang telah di <i>hardcoded</i>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}