{% extends 'base.html' %}

{% block content %}

<div class="container header">
    <div class="row">
        <div class="col-lg-6 px-md-0 my-auto position-relative">
            <div class="headline">
                Latihan Flask <span class="cl-light-blue">Tugas 3</span>
            </div>
            <div class="sub-headline">
                Program sederhana penentuan angka ganjil dan genap
            </div>
        </div>
        <div class="col-lg-6 mt-5 mt-md-0">
            <div class="card" id="cardCol">
                <h4>Hasil Cek</h4>
                <p>
                    Dari angka {{ganjil_genap.get_angka_1()}} dan {{ganjil_genap.get_angka_2()}}
                </p>
                <div class="input-group mb-4">
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item" id="cardCol">{{ganjil_genap.compare_angka()}}</li>
                        <li class="list-group-item" id="cardCol">{{ganjil_genap.is_odd(ganjil_genap.get_angka_1())}}</li>
                        <li class="list-group-item" id="cardCol">{{ganjil_genap.is_odd(ganjil_genap.get_angka_2())}}</li>
                    </ul>
                </div>
                <a class="btn btn-card" href="{{url_for('index')}}">
                    Cek angka lain
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

{% endblock %}