{% extends 'base.html' %}

{% block content %}

<div class="container header">
    <div class="row">
        <div class="col-lg-8 px-md-0 my-auto position-relative">
            <div class="headline">
                Member
            </div>
            <div class="sub-headline mb-4">
                Berikut merupakan anggota kelompok 1
            </div>
        </div>
            <div class="row">
                <div class="card m-3" style="background-color: #323160 !important; color: white; padding: 1rem; ">
                    <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold">Fendyanto</h5>
                            <h6 class="card-title">31190038</h6>
                            <p class="card-text">-
                            </p>
                    </div>
                </div>
                <div class="card m-3" style="background-color: #3b3160 !important; color: white; padding: 1rem; ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">Johanes Shane</h5>
                        <h6 class="card-title">31190042</h6>
                        <p class="card-text">-
                        </p>
                    </div>
                </div>
                <div class="card m-3" style="background-color: #313e60 !important; color: white; padding: 1rem; ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">Kosasi</h5>
                        <h6 class="card-title">31190050</h6>
                        <p class="card-text">-
                        </p>
                    </div>
                </div>
            </div>    
    </div> 
</div>
    


{% endblock %}