{% extends 'admin/base.html' %}

{% block title %}
{% if data %}
Reservasi {{data.id }}
{% else %}
Reservasi Baru
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<style>
    .dropdown.bootstrap-select.dropup {
        width: 100% !important;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100% !important;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder,
    .btn.dropdown-toggle.btn-light {
        background-color: #fff;
        border-color: #d1d3e2;
    }

    .btn.dropdown-toggle.disabled.btn-light {
        background-color: #d1d3e2;
        border-color: #d1d3e2;
    }

    .dropdown-toggle:focus,
    .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: 0px transparent !important;
    }

    .bootstrap-select .dropdown-toggle:focus,
    .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: none !important;
    }
</style>

{% endblock %}

{% block content %}
<div class="card card-body">

    <div class="h3 mb-2 text-gray-800">
        {% if data %}
        Reservasi {{data.id}}
        {% else %}
        Reservasi Baru
        {% endif %}
    </div>

    {% if form %}
    <form action="{% if data%}
                    {{url_for('admin_reservation.update')}}
                    {% else %}
                    {{url_for('admin_reservation.create')}}
                    {% endif %}
    " method="post">
        {% if data %}
        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.id.label() }}
                {{ form.id(class_="form-control", value=data.id) }}
            </div>
        </div>
        {% endif %}

        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.user.label() }}
                {{ form.user(class_="form-control selectpicker live-search", value=data.user_id,
                title="Pilih pelanggan", disabled=True if data else False) }}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.car.label() }}
                {{ form.car(class_="form-control selectpicker live-search", value=data.stock_id, title="Pilih mobil",
                disabled=True if data else False) }}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.pickup_location.label() }}
                {{ form.pickup_location(class_="form-control selectpicker", value=data.pickup_garage_id,
                title="Pilih lokasi pengambilan", disabled=True if data else False) }}
            </div>
            <div class="col-12 col col-md-6 mt-2  m-md-0">
                {{ form.dropoff_location.label() }}
                {{ form.dropoff_location(class_="form-control selectpicker", value=data.dropoff_garage_id,
                title="Pilih lokasi pengembalian", disabled=True if data.status and (data.status.name in ["RETURN",
                "FAIL"] )
                else False) }}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.pickup_date.label() }}
                {{ form.pickup_date(class_="form-control", disabled=True if data else False) }}
            </div>
            <div class="col-12 col col-md-6 mt-2 m-md-0">
                {{ form.pickup_time.label() }}
                {{ form.pickup_time(class_="form-control", disabled=True if data else False) }}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.dropoff_date.label() }}
                {{ form.dropoff_date(class_="form-control", disabled=True if data.status and (data.status.name in
                ["RETURN", "FAIL"] ) else False) }}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-12 col col-xl-6 m-md-0">
                {{ form.note.label() }}
                {{ form.note(class_="form-control", value=data.note, disabled=True if data.status and
                (data.status.name in ["RETURN", "FAIL"] ) else False) }}
            </div>
        </div>

        {% if data %}
        <div class="form-row my-2">
            <div class="col-12 col col-md-6 m-md-0">
                {{ form.status.label() }}
                {{ form.status(class_="form-control selectpicker", disabled=True) }}
            </div>
        </div>
        {% endif %}

        {% if not data or (data.status and not (data.status.name in ["RETURN", "FAIL"] )) %}
        {{ form.submit(class_="btn btn-outline-primary shadow-sm mt-3") }}
        {% endif %}

        {% if data.status and data.status.name == "OPEN" %}
        <a class="btn btn-outline-success shadow-sm mt-3 ml-1"
            href="{{ url_for('admin_rent.make_rent', id=data.id) }}">Konfirmasi</a>
        <a class="btn btn-outline-danger shadow-sm mt-3 float-right" data-id="{{ data.id }}" data-toggle="modal"
            data-target="#cancelModal">Batal</a>
        {% elif data.status and data.status.name == "RENTED" %}
        <a class="btn btn-outline-info shadow-sm mt-3 ml-1" data-id="{{ data.id }}" data-toggle="modal"
            data-target="#returnModal">Kembali</a>
        {% endif %}


    </form>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Batalkan reservasi ini?</h5>
            </div>
            <div class="modal-footer">
                <form action="{{url_for('admin_reservation.cancel_reservation')}}" method="post">
                    <input type="hidden" name="id" id="cancel_id" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                    <button type="submit" class="btn btn-danger">Ya</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="returnModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Selesaikan reservasi ini?</h5>
            </div>
            <div class="modal-footer">
                <form action="{{url_for('admin_reservation.return_reservation')}}" method="post">
                    <input type="hidden" name="id" id="return_id" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                    <button type="submit" class="btn btn-primary">Ya</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-id_ID.min.js"></script>
<script>
    $('select option[value=""]').attr("disabled", true)

    $('select.selectpicker.live-search').attr('data-live-search', 'true')

    $('form').submit(function (e) {
        $(':disabled').each(function (e) {
            $(this).removeAttr('disabled');
        })
    });



    $('#cancelModal').on('show.bs.modal', function (e) {
        let button = $(e.relatedTarget)
        let cancel_id = button.data('id')

        let modal = $(this)

        modal.find('.modal-footer #cancel_id').val(cancel_id)
    })


    $('#returnModal').on('show.bs.modal', function (e) {
        let button = $(e.relatedTarget)
        let return_id = button.data('id')

        let modal = $(this)

        modal.find('.modal-footer #return_id').val(return_id)
    })

    $('select[name=car]').on('change', () => {
        $.post('/admin/master-data/stock/get-available-garage', {
            car_id: $('select[name=car]').val(),
        }).done(function (response) {
            console.log(response);
            $('select[name="pickup_location"]').empty();
            $('select[name="dropoff_location"]').empty();
            $.each(response, function (index, value) {
                $('select[name="pickup_location"]').append(`
                    <option value="${value.id}">
                        ${value.name}
                    </option>`);
                $('select[name="dropoff_location"]').append(`
                    <option value="${value.id}">
                        ${value.name}
                    </option>`);
            });
            $('select[name="pickup_location"]').selectpicker('refresh');
            $('select[name="dropoff_location"]').selectpicker('refresh');


            //$('input[name="price_per_day"]').val('');
            //$('input[name="quantity"]').val('');

        }).fail(function () {
            console.log("Error: Could not contact server.");
        });
    });
</script>

{% endblock %}