{% extends 'base.html' %}

{% block css %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Halaman Utama{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- {% if form %}
<form action="" method="post">
  {{ form.hidden_tag() }}

  <p>
    {{ form.title.label }}
    {{ form.title() }}
  </p>

  <p>{{ form.submit() }}</p>
</form>
{% endif %} -->

<div class="row">

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Pendapatan (bulanan)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800 price-data"
              data-price="{{dashboard_data.monthly_earning}}"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Pendapatan (harian)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800 price-data"
              data-price="{{dashboard_data.annual_earning}}"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sewa berjalan
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{dashboard_data.ongoing_transaction}}</div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Pengembalian terlambat</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard_data.charged_transaction}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clock fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Transaksi</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="dataTable">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Member</th>
            <th scope="col">Film</th>
            <th scope="col">Status</th>
            <th scope="col">Tanggal Sewa</th>
            <th scope="col">Tanggal Akhir</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for d in dashboard_data.all_transaction %}
          <tr>
            <th scope="row" class="col-md-1">{{d.id}}</th>
            <td>{{d.member.name}}</td>
            <td>{{d.stock.movie.title}}</td>
            <td><span
                class="badge badge-{{'success' if d.status.name == 'RENT' else 'warning' if d.status.name == 'UNPAID' else 'secondary'}}">{{d.status.value}}</span>
            </td>
            <td>{{d.rental_start_date.strftime('%d-%m-%Y')}}</td>
            <td>{{d.rental_end_date.strftime('%d-%m-%Y')}}</td>
            <td class="col-md-2">
              <a href="{{url_for('rental.show_transaction', id=d.id)}}" type="button"
                class="btn text-primary bg-transparent"><i class="fas fa-fw fa-eye"></i></a>
              <button class="btn text-danger bg-transparent" data-id="{{d.id}}" data-toggle="modal"
                data-target="#deleteModal"><i class="fas fa-fw fa-trash"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Anda yakin ingin menghapus data transaksi ini?</h5>
      </div>
      <div class="modal-footer">
        <form action="{{url_for('rental.delete_transaction')}}" method="post">
          <input type="hidden" name="id" id="delete_id" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
          <button type="submit" class="btn btn-danger">Ya</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

<script>

  $('.price-data').each(function (i, obj) {

    let total_value = $(this).attr("data-price")
    console.log(total_value)

    if (total_value === 'None') {
      $(this).text("-")
    }
    else {
      $(this).text(new Intl.NumberFormat("id-ID", { style: "currency", currency: "IDR" }).format(total_value))
    }
  })

  $('#deleteModal').on('show.bs.modal', function (e) {
    let button = $(e.relatedTarget)
    let id = button.data('id')

    let modal = $(this)

    modal.find('.modal-footer #delete_id').val(id)
  })

</script>
{% endblock %}